<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 시스템 로그용 -->
    <appender name="LOGSTASH_SYS" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <level />
                <threadName />
                <loggerName />
                <message />
                <mdc />
                <customFields>{"log_type": "sys"}</customFields>
            </providers>
        </encoder>
    </appender>

    <!-- 시스템 로그용 (fluentd) -->
    <appender name="FLUENTD_SYS" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:24224</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <level />
                <threadName />
                <loggerName />
                <message />
                <mdc />
                <customFields>{"log_type": "sys"}</customFields>
            </providers>
        </encoder>
    </appender>

    <!-- user 로그용 -->
    <appender name="LOGSTASH_USER" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5001</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <level />
                <threadName />
                <loggerName />
                <message />
                <mdc />
                <customFields>{"log_type": "user"}</customFields>
            </providers>
        </encoder>
    </appender>

    <appender name="FLUENTD_USER" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:24225</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <level />
                <threadName />
                <loggerName />
                <message />
                <mdc />
                <customFields>{"log_type": "user"}</customFields>
            </providers>
        </encoder>
    </appender>

    <!-- search 로그용 -->
    <appender name="LOGSTASH_SEARCH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5002</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <level />
                <threadName />
                <loggerName />
                <message />
                <mdc />
                <customFields>{"log_type": "search"}</customFields>
            </providers>
        </encoder>
    </appender>

    <appender name="FLUENTD_SEARCH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:24226</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <level />
                <threadName />
                <loggerName />
                <message />
                <mdc />
                <customFields>{"log_type": "search"}</customFields>
            </providers>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO">
        <appender-ref ref="LOGSTASH_SYS" />
        <appender-ref ref="FLUENTD_SYS" />
    </logger>
    <logger name="com.example.searchstack.controller.UserController" level="INFO">
        <appender-ref ref="LOGSTASH_USER" />
        <appender-ref ref="FLUENTD_USER" />
    </logger>
    <logger name="com.example.searchstack.controller.SearchController" level="INFO">
        <appender-ref ref="LOGSTASH_SEARCH" />
        <appender-ref ref="FLUENTD_SEARCH" />
    </logger>

    <root level="INFO">
        <appender-ref ref="LOGSTASH_SYS" />
        <appender-ref ref="FLUENTD_SYS" />
        <appender-ref ref="LOGSTASH_USER" />
        <appender-ref ref="FLUENTD_USER" />
        <appender-ref ref="LOGSTASH_SEARCH" />
        <appender-ref ref="FLUENTD_SEARCH" />
    </root>
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>