<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sign In</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .container {
      margin-top: 50px;
      max-width: 400px;
    }
    form {
      margin-top: 20px;
    }
    .signup-link {
      margin-top: 15px;
      text-align: center;
    }
  </style>
</head>
<body>
<div class="container">
  <h1 class="text-center">Sign In</h1>
  <form action="/login" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
  </form>

  <!-- Sign Up 버튼 -->
  <div class="signup-link">
    <p>Don't have an account?</p>
    <a href="/signup" class="btn btn-success btn-block">Sign Up</a>
  </div>
</div>

<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
